In [1]:
"""
For Loop : use when we already know how many times iteration is need to be perform 
While Loop : use when when don't know how many times iteration is going to perform on
"""
# for loop 
for i in range(1,11):
        print(i)

#while loop :
name = ""
while not name.strip():
    name = input("Please enter your name: ")

1
2
3
4
5
6
7
8
9
10
Please enter your name: Sudip

In [4]:
#Write a python program to print the sum and product of the first 10 natural numbers using for loop. 

addtion = 0
product = 1
for i in range(1,11):
    addtion+=i
    product*=i
    
print("Sum of first 10 natural no :",addtion)
print("Product of first 10 natural no :",product)

Sum of first 10 natural no : 55
Product of first 10 natural no : 3628800

In [3]:
#Write a python program to print the sum and product of the first 10 natural numbers using while loop. 

addtion = 0
product = 1
i = 1
while i <=10:
    addtion+=i
    product*=i
    i +=1
    
print("Sum of first 10 natural no :",addtion)
print("Product of first 10 natural no :",product)

Sum of first 10 natural no : 55
Product of first 10 natural no : 3628800

In [7]:
#program to compute the electricity bill for a household

units = float(input("Enter number of units consumed: "))

if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Electricity bill: Rs.", bill)

Enter number of units consumed: 310
Electricity bill: Rs. 2250.0

In [15]:
"""Create a list of numbers from 1 to 100.
Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list"""
list1 = []

for i in range(1,101):
  cube=i**3
  if cube%4==0 or cube%5==0:
   list1.append(cube)

print(list1, sep = ", ")

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [16]:
list2 = []
i=0

while i <=100:
  cube=i**3
  if cube%4==0 or cube%5==0:
   list2.append(cube)
  i+=1

print(list2, sep = ", ")

[0, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [17]:
# program to filter count vowels
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels in the string:", count)

Number of vowels in the string: 12